<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{my/fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block layout:fragment="content">
    <form th:action="@{#}" method="POST">
        <main>
            <div id="my">
                <div class="info">
                    <ul>
                        <span class="menu_else"></span>
                        <li><a th:href="@{/my/applylist}">전체신청내역</a></li>
                        <li><a th:href="@{/my/diary}">입양일기</a></li>
                        <li><a th:href="@{/my/qna}">나의Q&A</a></li>
                        <li><a th:href="@{/my/support}">후원하기</a></li>
                        <li><a th:href="@{/my/infoCheck}">개인정보설정</a></li>
                        <li><a th:href="@{/pet/register}">아이 등록</a></li>
                    </ul>
                    <section>
                        <article>
                            <h3>비밀번호 확인</h3>
                            <table>
                                <tr>
                                    <td>사용자 ID</td>
                                    <td>
                                        <input type="text" name="uid" th:value="${myInfoDTO?.uid}" readonly style="border: none" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>현재 비밀번호</td>
                                    <td>
                                        <input type="password" id="checkPass" name="currentPw" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>변경할 비밀번호</td>
                                    <td>
                                        <input type="password" id="modifyPass" name="newPw" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>변경할 비밀번호 재확인</td>
                                    <td>
                                        <input type="password" id="modifyPassCheck" name="confirmNewPw" />
                                    </td>
                                </tr>
                            </table>
                            <div class="button-container">
                                <button type="button" class="btnInfo" id="cancelButton">취소</button>
                                <button type="submit" class="btnInfo" id="btnSubmit">확인</button>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </main>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSubmit").click(function (event) {
                // 폼 기본 동작 방지
                event.preventDefault();

                // 비밀번호 및 비밀번호 재확인 값 가져오기
                var currentPw = $("#checkPass").val();
                var newPw = $("#modifyPass").val();
                var confirmNewPw = $("#modifyPassCheck").val();

                // 정규표현식을 이용한 비밀번호 유효성 검사
                const passwordRegex = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;

                if (!passwordRegex.test(newPw)) {
                    alert("비밀번호는 영문자, 숫자, 특수문자를 각각 최소한 하나씩 포함하여 5자 이상 16자 이하로 입력해야 합니다.");
                    return;
                }

                // 비밀번호와 비밀번호 재확인이 일치하는지 확인
                if (newPw !== confirmNewPw) {
                    alert("변경할 비밀번호와 비밀번호 재확인이 일치하지 않습니다.");
                    return;
                }

                // AJAX를 이용한 비밀번호 변경 요청
                $.ajax({
                    type: "POST",
                    url: "/my/passchange",
                    data: {
                        "currentPw": currentPw,
                        "newPw": newPw,
                        "confirmNewPw": confirmNewPw
                    },
                    dataType: 'json',
                    success: function (response) {
                        // 서버에서 비밀번호 변경에 대한 응답 처리
                        if (response.success) {
                            alert("비밀번호 변경 성공");
                            // 변경 성공 시 다시 로그인 페이지로 이동 또는 다른 작업 수행
                            window.location.href = "/member/login";
                        } else {
                            alert("비밀번호 변경 실패: " + response.message);
                        }
                    },
                    error: function (error) {
                        console.error("Error during password change: " + error);
                    }
                });
            });
        });
    </script>
</th:block>
</html>