<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaepan - 회원가입</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/member/register.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body class="fade">
<!-- popup -s -->
<div class="dim"></div>
<div class="pop-box">
    <div class="pop-top">
        <h2>서비스 이용약관</h2>
        <button type="button" class="btn btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
    </div>
    <div class="article-wrap">
        <h3>이용약관</h3>
        <div class="article-cont">
            <h3 class="article-title">제 1장 총칙</h3>
            <article>
                <h3 class="article-title">제 1조 목적</h3>
                <div class="article-text">
                    본 약관은 주식회사 (이하 "사이트"라 함)에서 제공하는 서비스(본 약관 제2조에서 정의함)의 이용조건 및 절차에 관한 기본적인 사항과 기타 필요한 사항을 규정함을 목적으로 합니다.
                </div>
            </article>
            <article>
                <h3 class="article-title">제 2조 용어의 정의</h3>
                <ol class="article-list">
                    본 약관에서 사용되는 주요한 용어의 정의는 다음과 같습니다.
                    <li>
                        (1)서비스라함은 회사가 운영하는 사이트의 개인유전체검사 결과조회 및기타 부가적인 정보 제공 등을 말합니다.
                    </li>
                    <li>
                        (2)회원: 회사가 제공하는 서비스를 이용하기 위해 본 이용약관에 동의하고필요한 아이디(ID)와 비밀번호(PASSWORD)를 설정하고 개인정보를 제공하는 등 소정의 절차를 거쳐 회원등록을 한 자로서, 회사와의 이용계약을 체결하고 사이트에서 제공되는 서비스를 이용하는 이용자를 말합니다.
                    </li>
                    <li>
                        (3)이용계약: 사이트 이용과 관련하여 회사와 회원간에 체결 하는 계약을 말합니다.
                    </li>
                    <li>
                        (4)원 아이디(이하 “ID”) : 회원의 식별과 회원의 서비스 이용을 위하여 회원별로 부여하는 고유한 문자와 숫자의 조합을 말합니다.
                    </li>
                    <li>
                        (5)비밀번호: 회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.
                    </li>
                    <li>
                        (6)해지: 회원이 이용계약을 해약하는 것을 말합니다.
                    </li>
                    <li>
                        (7)본 조에서 정의된 용어를 제외한 용어의 정의는 일반 관행 및 관계법령에 회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.
                    </li>
                    <li>
                        (8) 본 조에서 정의된 용어를 제외한 용어의 정의는 일반 관행 및 관계법령에 회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.
                    </li>
                </ol>
            </article>

        </div>
        <div class="article-cont">
            <h3 class="article-title">제 1장 총칙</h3>
            <article>
                <h3 class="article-title">제 1조 목적</h3>
                <div class="article-text">
                    본 약관은 주식회사 (이하 "사이트"라 함)에서 제공하는 서비스(본 약관 제2조에서 정의함)의 이용조건 및 절차에 관한 기본적인 사항과 기타 필요한 사항을 규정함을 목적으로 합니다.
                </div>
            </article>
            <article>
                <h3 class="article-title">제 2조 용어의 정의</h3>
                <ol class="article-list">
                    본 약관에서 사용되는 주요한 용어의 정의는 다음과 같습니다.
                    <li>
                        (1) 서비스라함은 회사가 운영하는 사이트의 개인유전체검사 결과조회 및기타 부가적인 정보 제공 등을 말합니다.
                    </li>
                    <li>
                        (2) 회원: 회사가 제공하는 서비스를 이용하기 위해 본 이용약관에 동의하고필요한 아이디(ID)와 비밀번호(PASSWORD)를 설정하고 개인정보를 제공하는 등 소정의 절차를 거쳐 회원등록을 한 자로서, 회사와의 이용계약을 체결하고 사이트에서 제공되는 서비스를 이용하는 이용자를 말합니다.
                    </li>
                    <li>
                        (3) 이용계약: 사이트 이용과 관련하여 회사와 회원간에 체결 하는 계약을 말합니다.
                    </li>
                    <li>
                        (4) 원 아이디(이하 “ID”) : 회원의 식별과 회원의 서비스 이용을 위하여 회원별로 부여하는 고유한 문자와 숫자의 조합을 말합니다.
                    </li>
                    <li>
                        (5) 비밀번호: 회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.
                    </li>
                    <li>
                        (6) 해지: 회원이 이용계약을 해약하는 것을 말합니다.
                    </li>
                    <li>
                        (7) 본 조에서 정의된 용어를 제외한 용어의 정의는 일반 관행 및 관계법령에 회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.
                    </li>
                    <li>
                        (8) 본 조에서 정의된 용어를 제외한 용어의 정의는 일반 관행 및 관계법령에 회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.
                    </li>
                </ol>
            </article>

        </div>
        <div class="article-cont">
            <h3 class="article-title">제 1장 총칙</h3>
            <article>
                <h3 class="article-title">제 1조 목적</h3>
                <div class="article-text">
                    본 약관은 주식회사 (이하 "사이트"라 함)에서 제공하는 서비스(본 약관 제2조에서 정의함)의 이용조건 및 절차에 관한 기본적인 사항과 기타 필요한 사항을 규정함을 목적으로 합니다.
                </div>
            </article>
            <article>
                <h3 class="article-title">제 2조 용어의 정의</h3>
                <ol class="article-list">
                    본 약관에서 사용되는 주요한 용어의 정의는 다음과 같습니다.
                    <li>
                        (1) 서비스라함은 회사가 운영하는 사이트의 개인유전체검사 결과조회 및기타 부가적인 정보 제공 등을 말합니다.
                    </li>
                    <li>
                        (2) 회원: 회사가 제공하는 서비스를 이용하기 위해 본 이용약관에 동의하고필요한 아이디(ID)와 비밀번호(PASSWORD)를 설정하고 개인정보를 제공하는 등 소정의 절차를 거쳐 회원등록을 한 자로서, 회사와의 이용계약을 체결하고 사이트에서 제공되는 서비스를 이용하는 이용자를 말합니다.
                    </li>
                    <li>
                        (3) 이용계약: 사이트 이용과 관련하여 회사와 회원간에 체결 하는 계약을 말합니다.
                    </li>
                    <li>
                        (4) 원 아이디(이하 “ID”) : 회원의 식별과 회원의 서비스 이용을 위하여 회원별로 부여하는 고유한 문자와 숫자의 조합을 말합니다.
                    </li>
                    <li>
                        (5) 비밀번호: 회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.
                    </li>
                    <li>
                        (6) 해지: 회원이 이용계약을 해약하는 것을 말합니다.
                    </li>
                    <li>
                        (7) 본 조에서 정의된 용어를 제외한 용어의 정의는 일반 관행 및 관계법령에     회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.
                    </li>
                    <li>
                        (8) 본 조에서 정의된 용어를 제외한 용어의 정의는 일반 관행 및 관계법령에 회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.회원이 부여 받은 ID와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다.
                    </li>
                </ol>
            </article>
            <div class="popApply">
                <button type="button" class="btn btn-primary" id="policyBtn">동의합니다</button>
            </div>
        </div>
    </div>
</div>
<!-- popup -e -->
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <a href="/index"><img src="/img/font-logo.png" class="registerLogo"></a>
            <br>
            <form class="registerForm" method="post">
                <div class="mb-3">
                    <label for="uid">아이디<span class="require"></span></label>
                    <input type="text" class="form-control" name="uid" id="uid" placeholder="" required>
                    <div class="invalid-feedback">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="pass1">비밀번호<span class="require"></span></label>
                    <input type="password" class="form-control" name="pass1" id="pass1" placeholder="사용하실 비밀번호를 입력해주세요." required>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="mb-3">
                    <label for="pass2">비밀번호 확인<span class="require"></span></label>
                    <input type="password" class="form-control" name="pass2" id="pass2" placeholder="사용하실 비밀번호를 확인해주세요." required>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="mb-3">
                    <label for="name">별명<span class="require"></span></label>
                    <input type="text" class="form-control" name="nick" id="nick" placeholder="닉네임 입력" required>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name">이름<span class="require"></span></label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="이름을 입력해주세요." value="" required>
                        <div class="invalid-feedback">
                        </div>
                    </div>


                    <div class="col-md-6 mb-3">
                        <label for="gender">성별<span class="require"></span></label>
                        <select class="custom-select d-block w-100" name="gender" id="gender" required>
                            <option value="">선택</option>
                            <option value="1">남성</option>
                            <option value="2">여성</option>
                        </select>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="hp">휴대폰<span class="require"></span></label>
                    <input type="text" class="form-control" id="hp" name="hp" placeholder="'-' 포함 13자리 숫자를 입력해주세요."
                           required>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">이메일<span class="require"></span></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com"
                           required>
                    <div class="invalid-feedback">
                    </div>
                </div>

                <div>
                    <button type="button" class="btn btn-outline-secondary" id="btnEmailAuth">인증번호 발송</button>
                        <div class="row" id="verificationCode" style="display: none;">
                            <div class="col-md-9 mb-3">
                                <input type="text" class="form-control" id="authCode" placeholder="인증번호 입력" required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <button type="button" class="btn btn-outline-secondary btn-block" id="btnVerifyCode">확인</button>
                            </div>
                        </div>
                </div>

                <br>

                <div class="mb-3">
                    <label for="birth">생년월일<span class="require"></span></label>
                    <input type="date" class="form-control" id="birth" name="birth" placeholder="" required>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="zip">우편번호<span class="require"></span></label>
                        <input type="text" class="form-control" id="zip" name="zip" placeholder="검색" readonly
                               onclick="zipcode()">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label for="addr1">주소</label>
                        <input type="text" class="form-control" id="addr1" name="addr1" placeholder="" readonly>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="addr2">상세주소</label>
                    <input type="text" class="form-control" id="addr2" name="addr2" placeholder="상세주소를 입력해주세요."
                           required>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-8 mb-3">
                        <span class="text-muted">&nbsp;(사업자 회원일시)</span>
                        <label for="company">사업자명</label>
                        <input type="text" class="form-control" name="company" id="company" placeholder="">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="bizRegNum">사업자 등록번호</label>
                        <input type="text" class="form-control" name="bizRegNum" id="bizRegNum" placeholder="">
                    </div>
                </div> -->
                <hr class="mb-4">
                <div class="agree">
                    <ul>
                        <li>
                            <input type="checkbox" required id="termsService">
                            <label for="termsService">
                                <span class="underline">이용약관 동의</span> 및 <span class="underline">개인정보 처리방침</span> <span class="require"></span>
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="termsEmail">
                            <label for="termsEmail">(선택사항) 마케팅 수신 동의 <span class="option"></span></label>
                        </li>
                    </ul>
                </div>
                <div class="mb-4"></div>
                <button class="btn primary-btn btn-lg btn-block" type="submit">가입 완료</button>
            </form>
        </div>
    </div>
    <footer class="my-3 text-center text-small">
        <p class="mb-1">&copy; 2023 GaePan</p>
    </footer>
</div>
<script th:src="@{/js/member/authEmail.js}"></script>
<script th:src="@{/js/member/validation.js}"></script>
<script th:src="@{/js/member/register.js}"></script>
<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
<script th:src="@{/js/member/zipcode.js}"></script>
<script th:src="@{/js/member/popUp.js}"></script>
</body>
</html>